<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
    <h1>Random Tiny Desk Concert</h1>
    <main data-tiny-desk-concert>
      <% if (serverMsg) { %>
        <h2><%= serverMsg %></h2>
      <% } else { %>
        <a href='<%= concertLink %>' target='blank'>Click to reveal your random concert!</a>
      <% } %>
    </main>
</body>
</html> 