<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <main data-tiny-desk-concert>
    <article class="region">
      <div class="wrapper flow">
        <h1>Random Tiny Desk Concert</h1>
        <% if (serverMsg) { %>
          <p><%= serverMsg %></p>
        <% } else { %>
          <p>
            <a href='<%= concertLink %>' target='blank'>Click to reveal your random concert!</a>
          </p>
        <% } %>
      </div>
    </article>
  </main>
</body>
</html> 