<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <main data-tiny-desk-concert>
    <article class="region">
      <div class="wrapper flow">
        <h1>Random Tiny Desk Concert</h1>
        <% if (serverMsg) { %>
          <p><%= serverMsg %></p>
        <% } else { %>
          <div>
            <a class="big cta" href='<%= concertLink %>' target='blank'>Reveal your random concert!</a>
          </div>
          <p class="text-sm">
            You have <%= remainingCount %> more concerts to go...
          </p>
        <% } %>
      </div>
    </article>
  </main>
</body>
</html> 