<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
    
    <main class="container">
      <h1>Random Tiny Desk Concert</h1>
      <section>
        <a href='<%= concertLink %>' target='blank'>Here's your random concert. Click to reveal!</a>
      </section>
    </main>
</body>
</html> 